.container {


    height: 100%;
    margin-left: 20rem;
    // scroll-behavior: smooth;

    @include responsive(phone-big) {
        margin: 0 auto;



    }

    @include responsive(phone) {
        margin: 0 auto;
        // overflow: auto;



    }






    #content-area {
        margin: 2rem 5rem;
        padding-bottom: 5px;
        // white-space: wrap;
        position: relative;
        z-index: -1;

        @include responsive(tab-phone) {
            margin-right: 105px;
            margin-left: -5px;

        }

        @include responsive(phone-big) {
            margin: 0 auto;


        }

        @include responsive(phone) {

            margin: 0 auto;


        }


        .heading {

            h1 {
                color: $purple;
                font-size: 1.5rem;
                font-weight: 400;
                margin-bottom: 15px;
                margin-top: 60px;


                @include responsive(phone-big) {

                    display: block;
                    text-align: center;


                }

                @include responsive(phone) {

                    display: block;
                    text-align: center;


                }

            }

            p {
                color: #1b1b1b;
                font-size: 0.9rem;
                margin-bottom: 12px;
                margin-top: 10px;
                color: $greyDarkfont2;

                @include responsive(phone-big) {
                    text-align: center;
                }


                @include responsive(phone) {
                    text-align: center;
                }
            }
        }

        .gridx2 {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-column-gap: 1.1rem;



            @include responsive(tab-phone) {
                grid-template-columns: repeat(2, 60%);
                grid-row-gap: 1.1rem;
            }

            @include responsive(phone-big) {
                grid-template-columns: repeat(1, 60%);
                grid-row-gap: 1.1rem;
                justify-content: center;
            }

            @include responsive(phone) {
                grid-template-columns: repeat(1, 60%);
                grid-row-gap: 1.1rem;
                justify-content: center;
            }






            .card1 {
                background: #fff;
                border-radius: 7px;
                padding: 15px;
                width: 100%;
                height: 260px;
                margin: 0 auto;
                overflow: hidden;

                white-space: wrap;





                // margin: 0;

                // overflow: auto;

                .user-img {

                    background: url(https://randomuser.me/api/portraits/men/40.jpg) no-repeat center center;
                    -webkit-background-size: cover;
                    -moz-background-size: cover;
                    -o-background-size: cover;
                    background-size: cover;
                    width: 100px;
                    height: 100px;
                    border-radius: 50%;
                    margin: 0 auto;
                }

                .user-name {
                    font-size: 1.2rem;
                    font-weight: 500;
                    color: $purple;
                    display: block;
                    text-align: center;
                    margin: 9px 0;
                }

                .user-title {

                    display: block;
                    font-size: 0.8rem;
                    text-align: center;
                    margin: 10px 0 18px;
                    color: $greyDarkfont2;
                    font-weight: 500;

                    @include responsive(phone-big) {
                        font-size: 95%;
                    }

                    @include responsive(phone) {
                        font-size: 89%;
                    }
                }


                .hr {
                    border: 0.1px solid rgba(231, 227, 227, 0.4);
                    margin: 10px 0;
                    margin-bottom: 15px;
                }

                .flex-edu {
                    display: flex;
                    // overflow: auto;
                    list-style: none;
                    justify-content: space-between;

                    align-items: flex-start;
                    margin-top: 25px;









                    .education {
                        font-size: 0.8rem;
                        font-weight: 500;
                        color: $greyDarkfont2;
                        height: 2vh;
                        align-self: flex-start;
                        white-space: wrap;

                        @include responsive(phone) {
                            font-size: 90%;
                        }


                    }

                    .school {
                        font-size: 0.7rem;
                        color: $greyDarkfont;
                        font-weight: 400;
                        // margin-right: 20px;
                        height: 2vh;
                        white-space: nowrap;

                        @include responsive(phone) {
                            font-size: 85%;
                        }



                        &.align {
                            color: rgb(255, 0, 255);
                        }


                    }
                }
            }






            h6 {
                font-size: 0.9rem;
                color: $greyDarkfont2;

                @include responsive(phone) {
                    font-size: 110%;
                }

            }

            .date {
                font-size: 1.3rem;
                display: block;
                border-left: 5px solid $greenNeon;
                position: relative;
                left: -45px;

                padding: 7px 35px;
                margin: 14px 30px;
                white-space: nowrap;
                z-index: 1;
            }

            .flx-row {
                display: flex;
                gap: 1rem;
                align-items: flex-start;
                margin-bottom: 15px;
                margin-left: 24px;






                .job-type {
                    background: orange;
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    font-size: 0.5rem;
                    color: #fff;
                    padding: 6px;
                    display: inline-block;
                    text-align: center;
                    align-self: flex-start;
                }

                .job-blue {
                    background: rgba(42, 128, 182, 0.705);
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    font-size: 0.5rem;
                    color: #fff;
                    padding: 6px 2px;
                    text-align: center;
                    align-self: center;
                    vertical-align: middle;

                }

                .location {
                    font-size: 1rem;
                    font-weight: 300;
                    display: block;
                    margin-bottom: 0.5rem;
                    color: $greyDarkfont2;

                    @include responsive(phone) {
                        font-size: 120%;
                    }
                }

                .position {
                    font-size: 0.85rem;
                    font-weight: 500;
                    display: block;
                    margin-bottom: 0.5rem;
                    color: $greyDarkfont;
                }

                .time {
                    font-size: 0.89rem;
                    font-weight: 300;
                    display: block;
                    color: $greyDarkfont2;
                    margin-bottom: 0.5rem;
                }
            }



        }

        .containrow {




            @include responsive(tab-phone) {

                width: 135%;
                position: absolute;
                left: -20px;



                margin-right: auto;
                padding-bottom: 20px;

                overflow-x: scroll;



            }

            @include responsive(phone-big) {

                width: 95%;
                margin-left: 32px;
                padding-bottom: 20px;
                overflow-x: scroll;



            }

            @include responsive(phone) {
                // position: relative;
                left: -35px;
                padding-bottom: 50px;
                width: 100%;
                overflow-x: scroll;





            }



            .card2 {
                // border: 2px solid;
                background: #fff;
                // padding: 15px;
                margin: 0 auto;
                height: 140px;
                margin-top: 30px;
                width: 100%;
                border-radius: 10px;

                white-space: wrap;


                @include responsive(tab-phone) {
                    margin-left: -3px;
                    width: 120%;

                }

                @include responsive(phone-big) {

                    width: 125%;

                }

                @include responsive(phone) {

                    width: 125%;



                }



                .thead {


                    background: $greyDarkBG;
                    color: $greyDarkfont2;
                    font-size: 1.1rem;
                    font-weight: 400;
                    height: 40px;




                    .move {
                        padding-left: 20px;
                    }



                    th {
                        vertical-align: middle;
                        text-align: left;

                        @include responsive(phone-big) {
                            font-size: 90%;
                            white-space: nowrap;
                        }

                        @include responsive(phone) {
                            font-size: 90%;
                            white-space: nowrap;

                        }

                    }


                }

                td {

                    border-bottom: 1px solid rgba(231, 227, 227, 0.5);
                    vertical-align: middle;
                    color: rgba(0, 0, 0, 0.39);
                    font-weight: 500;
                    font-size: 0.99rem;
                    text-decoration: none;
                    white-space: inherit;
                    text-align: left;

                    @include responsive(phone-big) {
                        font-size: 85%;
                        white-space: wrap;
                    }

                    @include responsive(phone) {
                        font-size: 85%;
                        white-space: nowrap;
                    }

                }


                .job-ty::before {
                    content: "OS";
                    background: orange;
                    background-repeat: none;
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    font-size: 0.7rem;
                    color: #fff;

                    padding-top: 9px;
                    padding-right: -4px;
                    display: inline-block;
                    text-align: center;
                    align-self: center;
                    position: relative;
                    top: -4px;
                    left: -8px;
                    margin-left: 20px;
                }

                .job-t::before {
                    content: "DS";
                    background: rgba(24, 165, 35, 0.805);
                    background-repeat: none;
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    font-size: 0.7rem;
                    color: #fff;

                    padding-top: 9px;
                    padding-right: -4px;
                    display: inline-block;
                    text-align: center;
                    align-self: center;
                    position: relative;
                    top: -4px;
                    left: -8px;
                    margin-left: 20px;
                }



            }

        }
    }
}

// @media screen and (max-width: 768px) {

//     #content-area {
//         margin: 3rem 1rem;
//         // margin: 0 auto;


//         .gridx2 {
//             
//             // grid-template-rows: repeat(3, 1fr);

//             grid-column-gap: 1rem;
//             // overflow: hidden;

//         }
//     }







// .col-md-2 {
//     width: (2 *100/12) + "%";
//     padding: 0 15px;
//     display: inline-block;
//     float: left;
// }

// .col-md-3 {
//     width: (3 *100/12) + "%";
//     padding: 0 15px;
//     display: inline-block;
//     float: left;
// }

// .col-md-4 {
//     width: (4 *100/12) + "%";
//     padding: 0 15px;
//     display: inline-block;
//     float: left;
// }

// .col-md-9 {
//     width: (9 *100/12) + "%";
//     padding: 0 15px;
//     display: inline-block;
//     float: left;
// }



// .col-md-10 {
//     width: (10 *100/12) + "%";
//     padding: 0 15px;
//     display: inline-block;
//     float: left;