#sidemenu {

    @include responsive(phone) {


        .nav {
            padding: 0.17rem 0.8rem;
            align-items: center;
        }

        .icon {
            width: 35px;
            height: 35px;
            display: inline;
            overflow: hidden;


            // @include responsive(desktop) {
            //     display: none;

            // }


        }

        .icon--white {
            fill: rgb(167, 19, 208);
        }


        .nav__toggler {
            // opacity: 0.5;
            // transition: box-shadow 0.15s;
            // cursor: pointer;
            // position: fixed;


        }



        .nav__list {
            width: 100%;
            margin: 0;
        }


        .list {
            list-style: none;
            padding-left: 0;
        }

        .nav.collapsible--expanded .nav__toggler {
            opacity: 1;
            box-shadow: 0 0 0 3px #666;
            border-radius: 5px;



        }

        .collapsible__content {
            background: $purpleLight;
            font-size: 100%;
            height: 60vh;
            line-height: 1;
            opacity: 0;
            position: relative;
            right: 8px;
            top: -2px;
            transition: all 0.6s;
            width: 40vw;




        }


        .collapsible--expanded .collapsible__content {
            max-height: 100%;
            opacity: 1;



        }
    }
}






//     nav {
//         padding-top: 90px;

//         a {
//             display: block;
//             color: $greyDarkfont2;
//             font-size: 1rem;
//             text-decoration: none;
//             padding: 15px 30px;
//             font-weight: 300;
//             transition: all .3s ease-in-out;

//             &:hover {
//                 background: $purpleDark;
//                 border-left: 5px solid $greenNeon;
//                 padding: 15px 30px 15px 25px;


//             }

//             // .fas {
//             //     color: $greenNeon;
//         }

//         .fas {
//             color: $greenNeon;
//             font-size: 2.3rem;
//             margin-right: .8rem;
//             display: inline-block;
//             width: 30px;
//             position: relative;
//             top: 2px;
//         }

//         &.active {
//             background: $purpleDark;
//             // border-left: 5px solid $greenNeon;
//             padding: 15px 30px 15px 25px;
//         }

//     }
// }