*,
*::after,
*::before {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;

    @include responsive(phone) {
        font-size: 75.75%;
    }

    @include responsive(tab-phone) {
        font-size: 75.75%;
    }

    @include responsive (small-desktop) {

        font-size: 70%;
    }

    @include responsive(desktop) {
        font-size: 90%;
    }
}



body {
    font-family: Arial, Helvetica, sans-serif;
    background: $greyLightBG;


}


#sidemenu {
    background: $purpleLight;
    width: 20rem;
    position: absolute;
    top: 0;
    bottom: 0;

    @include responsive(tab-phone) {
        width: 17.3rem;
        position: fixed;

    }

    @include responsive(phone) {
        background: transparent;
        z-index: 4;

    }


    .company-name {
        color: #fff;
        font-size: 2rem;
        text-decoration: none;
        font-family: fantasy;
        position: relative;
        bottom: 85px;
        left: 40px;
        display: inline-block;
        border: 1px solid red;
        padding: 15px;



    }

    .nav_toggler {
        visibility: hidden;
        //          opacity: 0.5;
        //  transition: box-shadow 0.15s;
        //  cursor: pointer;
        //  position: fixed;

        @include responsive(tab-phone) {
            visibility: hidden;


        }

        @include responsive(phone) {
            visibility: visible;

        }

    }



    nav {
        padding-top: -100px;

        @include responsive(phone) {
            padding-top: 60px;


        }




        a {
            display: block;
            color: $greyDarkfont2;
            font-size: 1rem;
            text-decoration: none;
            padding: 15px 30px;
            font-weight: 300;
            transition: all .3s ease-in-out;



            &:hover {
                background: $purpleDark;
                // border-left: 5px solid $greenNeon;
                padding: 15px 30px 15px 25px;



            }

            .fas {
                color: $greenNeon;
            }

            .fas {
                color: $greenNeon;
                font-size: 2rem;
                margin-right: .8rem;
                display: inline-block;
                width: 30px;
                position: relative;
                top: 2px;
            }

            &.active {
                background: $purpleDark;
                border-left: 5px solid $greenNeon;
                padding: 15px 30px 15px 25px;
            }

        }
    }
}



header {
    margin-left: 290px;
    background: #fff;


    @include responsive (small-desktop) {
        margin-left: 220px;
        font-size: 90%;
    }

    @include responsive(tab-phone) {
        margin-left: 180px;
        // padding-left: -3px;
        overflow: hidden;
    }



    @include responsive(phone) {
        margin-left: 0;
        padding-left: -3px;
        overflow: hidden;
        height: 50px;

    }


    @include responsive(small-phone) {
        margin-left: 0;
        padding-left: -3px;
        overflow: hidden;
        height: 50px;

    }



    .search-area {
        display: inline-block;
        width: 50%;

        @include responsive(phone) {
            margin-left: 40px;
            padding-top: 3px;
        }





        .fas {
            color: $greyDarkfont2;
            margin-left: 20px;

        }

        input[type="text"] {
            background: transparent;
            border: none;
            font-size: 1rem;
            color: $greyLightfont1;
            padding: 10px;
            font-weight: 100;
            width: 80%;
            transition: all 0.50s ease-in-out;

            @include responsive(phone) {
                padding-top: 15px;
            }

            @include responsive(phone) {
                padding-top: 15px;
            }


            &::placeholder {
                text-align: left;
                font-weight: 100;


            }


            &:hover {
                background: $greyDarkBG;
            }
        }
    }

    .user-area {
        display: inline-block;
        padding: 3px;
        float: right;


        @include responsive(tab-phone) {
            display: flex;
            align-items: flex-start;
            position: relative;
            bottom: 1px;
            left: 10px;

        }




        @include responsive(phone) {
            display: flex;
            align-items: flex-start;
            position: relative;
            top: -3rem;
            left: 10px;
            padding-right: 0;
        }





        a {
            color: #1b1b1b;
            display: inline-block;
            padding-right: 20px;
            text-decoration: none;
            vertical-align: top;
            height: 30px;

            &.add {
                font-size: 16px;
                font-weight: 500;
                padding-top: 7px;
            }


            &.notification {
                position: relative;
                font-size: 20px;
                padding-top: 5px;

                .circle {
                    background: red;
                    width: 12px;
                    height: 12px;
                    border-radius: 50%;
                    display: inline-block;
                    font-size: 11px;
                    color: #fff;
                    text-align: center;
                    position: absolute;
                    top: 3px;
                    left: 7px;

                }
            }

            .user-img {
                background: url(https://randomuser.me/api/portraits/men/40.jpg) no-repeat center center;
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                background-size: cover;
                width: 30px;
                height: 30px;
                border-radius: 50%;
                display: inline-block;
                margin-right: 10px;

            }

            .fa-caret-down {
                position: relative;
                top: -8px;

            }

        }
    }

    input:active,
    input:focus,
    textarea:focus {
        background: transparent;
        outline: none;
    }

}