*,
*::after,
*::before {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;









    @include responsive(desktop) {
        font-size: 90%;
    }

    @include responsive (small-desktop) {

        font-size: 70%;
    }

    @include responsive(tab-phone) {
        font-size: 75.75%;
    }

    @include responsive(phone-big) {
        font-size: 90%;
    }

    @include responsive(phone) {
        font-size: 74%;
    }
}



body {
    font-family: Arial, Helvetica, sans-serif;
    background: $greyLightBG;


}


#sidemenu {
    background: $purpleLight;
    width: 20rem;
    position: absolute;
    top: 0;
    bottom: 0;

    @include responsive(tab-phone) {
        width: 17.3rem;
        position: fixed;
        z-index: 2;

    }


    @include responsive(phone-big) {
        background: transparent;
        z-index: 4;



    }

    @include responsive(phone) {
        background: transparent;
        z-index: 4;


    }


    .company-name {
        color: #fff;
        font-size: 2rem;
        text-decoration: none;
        font-family: fantasy;
        position: relative;
        bottom: 85px;
        left: 40px;
        display: inline-block;
        border: 1px solid red;
        padding: 15px;

        @include responsive(phone-big) {
            display: none;

        }

    }

    .nav_toggler {
        visibility: hidden;
        //          opacity: 0.5;
        //  transition: box-shadow 0.15s;
        //  cursor: pointer;
        //  position: fixed;

        @include responsive(tab-phone) {
            visibility: hidden;
        }

        @include responsive(phone-big) {
            visibility: visible;

        }

        @include responsive(phone) {
            visibility: visible;


        }

    }



    nav {
        padding-top: -100px;


        @include responsive(phone-big) {
            padding-top: 30px;

        }

        @include responsive(phone) {
            padding-top: 30px;


        }




        a {
            display: block;
            color: $greyDarkfont2;
            font-size: 1rem;
            text-decoration: none;
            padding: 15px 20px;
            font-weight: 300;
            transition: all .3s ease-in-out;

            &:hover {
                background: $purpleDark;
                // border-left: 5px solid $greenNeon;
                padding: 15px 30px 15px 25px;

            }

            // .fas {
            //     // color: $greenNeon;

            // }

            .fas {
                color: $greenNeon;
                font-size: 2rem;
                margin-right: .8rem;
                display: inline-block;
                width: 30px;
                position: relative;
                top: 2px;
            }

            &.active {
                background: $purpleDark;
                border-left: 5px solid $greenNeon;
                padding: 15px 30px 15px 25px;

                @include responsive(phone and phone-big) {
                    border-left: 0px solid $greenNeon;

                }
            }
        }
    }
}



header {
    margin-left: 270px;
    background: #fff;




    @include responsive (small-desktop) {
        margin-left: 220px;
        font-size: 90%;
    }

    @include responsive(tab-phone) {
        margin-left: 180px;
        // padding-left: -3px;
        overflow: hidden;
        position: fixed;
        top: 0;
        right: 0;
        width: 73vw;
        padding-left: 30px;


    }


    @include responsive(phone-big) {
        margin-left: 0;
        padding-left: -3px;
        padding-top: 7px;
        overflow: hidden;
        height: 50px;
        top: 0;
        right: 0;
        width: 100%;



    }



    // @include responsive(phone) {
    //     margin-left: 0;
    //     padding-left: -2px;
    //     overflow: hidden;
    //     height: 50px;
    //     top: 0;
    //     right: 0;
    //     width: 100%;



    // }




    .search-area {
        display: inline-block;
        width: 50%;


        @include responsive(phone-big) {
            margin-left: 40px;
            padding-top: 3px;
        }

        // @include responsive(phone) {
        //     margin-left: 15px;
        //     padding-top: 3px;
        // }

        .fas {
            color: $greyDarkfont2;
            margin-left: 20px;

            @include responsive(phone and phone-big) {
                margin-left: 15px;

            }

        }

        input[type="text"] {
            background: transparent;
            border: none;
            font-size: 1rem;
            color: $greyLightfont1;
            padding: 10px;
            font-weight: 100;
            width: 80%;
            transition: all 0.1s ease-in-out;

            &::placeholder {
                text-align: center;
                font-weight: 100;
            }

            &:hover {
                background: $greyDarkBG;
            }


        }
    }

    .user-area {
        // display: inline-block;
        padding: 3px;
        float: right;


        @include responsive(tab-phone) {
            display: flex;
            align-items: flex-start;
            position: relative;
            bottom: 1px;
            left: 10px;

        }



        @include responsive(phone) {
            display: flex;
            align-items: flex-start;
            position: relative;
            top: -35px;
            left: 15px;
            padding-right: 0;

        }




        a {
            color: #1b1b1b;
            display: inline-block;
            padding-right: 20px;
            text-decoration: none;
            vertical-align: top;
            height: 30px;

            @include responsive(phone and phone-big) {
                padding-right: 15px;
            }

            &.add {
                font-size: 16px;
                font-weight: 400;
                padding-top: 7px;

                @include responsive(phone and phone-big) {
                    font-size: 14px;
                }
            }


            &.notification {
                position: relative;
                font-size: 20px;
                padding-top: 5px;



                .circle {
                    background: red;
                    width: 12px;
                    height: 12px;
                    border-radius: 50%;
                    display: inline-block;
                    font-size: 11px;
                    color: #fff;
                    text-align: center;
                    position: absolute;
                    top: 3px;
                    left: 7px;

                }

                @include responsive(phone and phone-big) {
                    font-size: 16px;
                }
            }

            .user-img {
                background: url(https://randomuser.me/api/portraits/men/40.jpg) no-repeat center center;
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                background-size: cover;
                width: 30px;
                height: 30px;
                border-radius: 50%;
                display: inline-block;
                margin-right: 10px;

                @include responsive(phone and phone-big) {
                    width: 25px;
                    height: 25px;
                    margin-right: 4px;
                }

            }

            .fa-caret-down {
                position: relative;
                top: -8px;

                @include responsive(phone and phone-big) {

                    margin-right: 5px;
                }


            }

        }



    }
}


input:active,
input:focus,
textarea:focus {
    background: transparent;
    outline: none;
    cursor: wait;
}