$purpleLight: #302d43;
$purpleDark: #282639;
$greenNeon: #92cf48;
$greyLightBG: #f4f6f9;
$greyDarkBG: #EAEDF3;
$greyDarkfont: #6c7882;
$greyLightfont1:#BBC1CD;
$greyDarkfont2:#a5adbd;
$orange: #f48320;
$purple:#744bce;